@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de cores */
:root {
    --bg: hsl(239, 95%, 25%);
    --card: hsl(238.8, 100%, 39.22%);
    --btn: hsl(230, 96%, 11%);
    --white: hsl(0, 0%, 100%);
}

/* Fundo da página */
.container {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Card */
#cor_de_fundo {
    background-color: var(--card);
    border-radius: 0.5rem;
    width: 90%;
    max-width: 400px;
    padding-bottom: 20px;
}

/* Perfil */
.meu-perfil {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 30px 10px 0 10px;
}

.minha-foto {
    border-radius: 50%;
    max-width: 130px;
    margin-bottom: 20px;
}

.nome-da-pessoa {
    margin-bottom: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 27px;
}

.cargo {
    font-size: 14px;
    margin-bottom: 30px;
    color: var(--white);
    font-weight: 700;
}

.frase {
    margin-bottom: 30px;
    color: var(--white);
}

/* Botões / Links */
.minha-informacoes {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}


.minha-informacoes a {
    text-decoration: none;
}

/* Botão estilizado como link */
.btn {
    display: block;
    background-color: var(--btn);
    color: var(--white);
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
}

/* Hover */
.btn:hover {
    background-color: var(--white) !important;
    color: var(--btn) !important;
}

/* Visited */
.btn,
.btn:visited {
    background-color: var(--btn);

}
